<!doctype html>
<html lang="en-US">
<head>
  {{partial "meta.html"}}
</head>
<body>
  {{partial "header.html"}}

  <div class="l-documentation">
    <nav class="l-documentation__nav">
      <ul class="side-nav">
      {{range .Data.Pages}}
        <li>
          <a href="#{{.Title}}">{{.Title}}</a>
        </li>
      {{end}}
    </nav>
    <main class="l-documentation__main">
      <h1 class="page-title">{{.Title}}</h1>
      {{- if .Params.description -}}
        <p class="lead text-center">{{.Params.description}}</p>
      {{- end -}}
      <div>{{.Content}}</div>
      {{range .Data.Pages}}
        <div class="documentation-block">
          <h2>{{.Title}}</h2>
          {{- if .Params.description -}}
            <p class="lead">{{.Params.description}}</p>
          {{- end -}}
          <div>{{.Content}}</div>
        </div>
      {{end}}
    </main>
  </div>
</body>
</html>
