<!doctype html>
<html lang="en-US">
<head>
  {{partial "meta.html"}}
</head>
<body>
  {{partial "header.html"}}

  <div class="l-documentation main">
    <nav class="l-documentation__nav">
      <ul class="side-nav">
        <li>
          <a href="/core/">Typography</a>
        </li>
      {{range .Data.Pages}}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
      {{end}}
    </nav>
    <main class="l-documentation__main">
      <h1 class="page-title">{{.Title}}</h1>
      {{- if .Params.description -}}
        <p class="lead text-center">{{.Params.description | markdownify}}</p>
      {{- end -}}
      <div>{{.Content}}</div>
    </main>
  </div>
  {{partial "footer.html"}}
</body>
</html>
