@import "kolache/core/button" as .button;
@import "kolache/core/button:color" as .button--danger {
  $bg-color: $color-danger;
}
@import "kolache/core/button:color" as .button--success {
  $bg-color: $color-success;
}
@import "kolache/core/button:size" as .button--large {
  $size: 1.25rem;
}
@import "kolache/core/button:outline" as .button--outline;
@import "kolache/core/button:outline" as .button--outline--danger {
  $color: $color-danger;
}
@import "kolache/core/button:link" as .button-link;

@import "kolache/core/button-group" as .button-group;

@import "kolache/core/alert" as .alert;
@import "kolache/core/alert:color" as .alert--danger {
  $color: $color-danger;
}

@import "kolache/core/form:group" as .form-group;
@import "kolache/core/form:field" as .form-field;
@import "kolache/core/form:toggle" as .toggle;
@import "kolache/core/form:feedback" as .has-success {
  $color: $color-success;
}
@import "kolache/core/form:feedback" as .has-error {
  $color: $color-danger;
}

@import "kolache/core/dropdown" as .dropdown;
@import "kolache/core/nav:stacked" as .nav-stacked;
