@import "kolache/core/theme";
@import "kolache/core/base";

@import "kolache/core/header-bar" as .page-header {
  $border: 1px solid $gray-9;
}
@media (min-width: 600px) {
  .page-header__brand {
    margin-right: 3em;
    padding-right: 3em;
    border-right: 1px solid $gray-9;
  }
}

@import "kolache/core/centered-container" as .l-container {
  $width: 55em;
  $breakpoint: 57em;
}

.l-documentation {
  width: 100%;
  padding: 0 1em;
}
.l-documentation__nav {
  flex: 0 0 auto;
}
.l-documentation__main {
  flex: 1 1 auto;
  overflow: auto;
}
@media (min-width: 35em) {
  .l-documentation {
    display: flex;
  }

  .l-documentation__main {
    margin-left: 3em;
  }
}
@media (min-width: 67em) {
  .l-documentation {
    width: 65em;
    margin: 0 auto;
  }
}

@import "kolache/core/navmenu" as .main-nav {
  $offset-padding: 1em 1em;
  $wrap: true;
}

@import "kolache/core/lead" as .lead;

@import "kolache/core/nav:stacked" as .side-nav {
  $offset-padding: 0.5em 1em;
}

@import "kolache/core/button" as .button;
@import "kolache/core/button:color" as .button--danger {
  $bg-color: $color-danger;
}
@import "kolache/core/button:size" as .button--large {
  $size: 1.25rem;
}
@import "kolache/core/button:outline" as .button--outline;
@import "kolache/core/button:outline" as .button--outline--danger {
  $color: $color-danger;
}
@import "kolache/core/button:link" as .button-link;

@import "kolache/core/button-group" as .button-group;

code {
  background-color: $gray-10;
  color: color-mod($color-primary lightness(-15%));
}

pre code {
  background-color: transparent;
}

.doc-example__rendered {
  padding: $padding;
  border: 1px solid $gray-9;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
  background-color: $white;
}
.doc-example__markup {
  margin-top: 0;
  padding: $padding;
  border: 1px solid $gray-9;
  border-radius: $border-radius;
  color: $gray-5;
  background-color: $gray-10;
  overflow: auto;
}
.doc-example__rendered + .doc-example__markup {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.page-title {
  margin-top: 1.25em;
  text-align: center;
  font-size: 3.05rem;
  font-weight: $font-weight-black;
  letter-spacing: -0.03em;
}

.text-center {
  text-align: center !important;
}

@import "kolache/core/alert" as .alert;
@import "kolache/core/alert:color" as .alert--danger {
  $color: $color-danger;
}

.page-footer {
  padding: 1em;
  background-color: $gray-6;
  font-size: 0.8rem;
  text-align: center;

  a:any-link {
    color: black;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main,
  > .main {
    flex-grow: 1;
  }
}

.documentation-content {
  margin-bottom: 3rem;

  h1,
  h2,
  h3 {
    margin-top: 1em;

    @nest table & {
      margin-top: 0;
    }
  }

  @import "kolache/core/table" as table {
    $padding: $padding-small;
  }
  @import "kolache/core/table:bordered" as table;
}
