$include-base-styles: false;
@import 'kolache/modules/theme';

$gray-90: hsl(200, 15%, 90%);

@import 'kolache/modules/header-bar' as .page-header {
  $border: 1px solid $gray-90;
}
.page-header__brand {
  margin-right: 3em;
  padding-right: 3em;
  border-right: 1px solid $gray-90;
}

@import 'kolache/modules/navmenu' as .main-nav {
  $offset-padding: 1em 1em;
}
